---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Recent Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p><a href="{{ '/posts/' | url }}">More Posts...</a></p>
